
.container {
    background-color: black;
    max-height: 350px;
    max-width: 189px;
    margin-left: auto;
    margin-right: auto;
    border: solid 5px;
}
.btn-sm {
    height: 40px;
    width: 40px;
    margin: 2px;
    font-size: 20px;
}
#zero {
    height: 40px;
    width: 92px;
    font-size: 20px;
}
#equals {
    position: absolute;
    height: 86px;
    width: 40px;
    margin-left: 6px;
    font-size: 20px;
    background: blue;
}
#display {
    height: 50px;
    width: 140px;
    margin-right: 0px;
    font-size: 30px;
}
#operatorInput {
    position: absolute;
    height: 50px;
    width: 35px;
    margin-left: 0px;
    font-size: 32px;
}
#clear {
    background: red;
}
#allClear {
    background: red;
}
#divide {
    background: lightblue;
}
#multiply {
    background: lightblue;
}
#subtract {
    background: lightblue;
}
#plus {
    background: lightblue;
}
p {
    color: limegreen;
}